{% extends "layout.html" %} 
{% block title %}
{% if article  %}
{{article.title}}
{% else %}
BLOG BULUNAMADI
{% endif %}
{% endblock  %}
{% block body %}
{% if article %}
<h4>{{article.title}}</h4>
<div style="padding-right: 750px">
    <hr>
</div>
Ekleyen : {{article.author}}
<div style="padding-right: 750px">
    <hr>
</div>
Ekleme Tarihi: {{article.date}}
<hr>
{{article.content|safe}}
{% else %}
<div class = "alert alert-warning">
    Böyle bir makale bulunmuyor
</div>
{% endif %}
{% endblock %}
