{% extends "layout.html" %}
{% block title %}
Gözat
{% endblock  %}
{% block body %}
<h3>Gözat</h3>
<hr>
<form action="/search" method = "post">
    <input type="text" name = "keyword" class="input-sm" maxlength="64" placeholder="Ara...">
    <button type="submit" class="btn btn-secondary ">Ara</button>
</form>
<hr>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col"><i class="fa fa-file-image-o"></i></th>
            <th scope="col"><i class="fa fa-external-link"></i></th>
            <th scope="col"><i class="fa fa-calendar"></i></th>    
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <th><img src={{article.link}} width="80"height="40" ></th>
            <td><a href="/article/{{article.id}}">{{article.title}}</a></td>
            <td>{{article.date}}</td>    
        </tr>
    {% endfor %}
{% endblock %}
{% block head %}
<link href="/static/css/dash.css" type="text/css" rel="stylesheet"/>
{% endblock  %}


